*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog

configure
configure.ac
config.log
config.status

src/fcp
src/config.h
src/config.h.in
src/stamp-h1
src/parser.cxx
src/parser.h
src/scanner.cxx

tools/maint/fetch
tools/maint/whitespace-detect

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex
tools/autotools/compile
tools/autotools/depcomp
tools/autotools/ylwrap
tools/autotools/config.guess
tools/autotools/config.sub

docs/man/fcp.1
docs/info/fcp.info

site/in/.sitetool
site/in/site.stamp
site/out/*
