body {
  background-color: white;
}

#main_header {
  margin: 8px;
  padding: 0px;
}

#main_header h1 {
  margin: 0px;
  padding: 0px;
}

#main_header hr {
  margin: 0px;
  padding: 0px;
  background-color: black;
  border-style: none;
}

#main_wrapper {
  margin: 24px;
  padding: 0px;
}

#main_menu {
  float: left;
  width: 160px;
  margin: 0px;
  padding: 8px 0px 8px 24px;
  font-size: small;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#main_menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: square;
  color: silver;
}

#main_menu li {
  margin: 0px;
  padding: 0px;
}

#main_menu li:hover {
  color: red;
}

#main_body {
  margin: 0px 0px 0px 208px;
  padding: 0px 16px 8px 8px;
}

#main_body p {
  padding: 0px 8px 0px 8px;
}

#main_body h3 {
  border-style: none none dotted none;
  border-color: black;
  border-width: 1px;
}

#main_body h4 {
  padding: 0px 8px 0px 8px;
}

#main_body ul {
  list-style-type: square;
}

#main_footer {
  margin: 8px;
  padding: 0px;
}

#main_footer hr {
  margin: 0px;
  padding: 0px;
  background-color: black;
  border-style: none;
}

#main_footer p {
  margin: 0px;
  padding: 0px 8px 0px 8px;
  font-size: small;
}

#main_footer img {
  float: right;
  margin: 4px;
  padding: 0px;
  border-style: none;
}

.float_clear {
  clear: both;
  margin: 0px;
  padding: 0px;
}

.terminal {
  margin: 32px;
  padding: 8px;
  border-style: dashed;
  border-width: 1px;
  border-color: gray;
  background-color: #F5F5F5;
  font-family: monospace;
}
